<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: true}) %>

    <main>

      <!-- TradingView Widget BEGIN -->
      <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget({
        "width": 800,
        "height": 498,
        "symbol": "SPY",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "White",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "hideideas": true,
        "studies": [
          "MAExp@tv-basicstudies",
          "Volume@tv-basicstudies"
        ]
      });
      </script>
      <!-- TradingView Widget END -->

      <!-- <div class="container stock-table" > -->
        <!-- <h3></h3> -->
        <!-- <h3>Overall Performance</h3> -->
        <!-- <h3></h3> -->
        <!-- <h5>Original Account Balance:  $<%=origFolioAmount%></h5> -->
      <!-- </div> -->

      <!-- Summary Stats Table BEGIN -->
      <!-- <div class="container stats-table1"> -->
      <div class="container stock-table" >
        <h3>Overall Performance</h3><br>
        <h4>Portfolio Statistics</h4>
        <table class="centered">
          <thead>
            <tr>
              <th data-field="beginningBal" class="number">Beginning Balance</th>
              <th data-field="endingBal" class="number">Ending Balance</th>
              <th data-field="maxDrawDown" class="number">Max Draw Down</th>
              <th data-field="maxPortfolioGain" class="number">Max Gain</th>
              <th data-field="totalGl" class="number">Total $Gain/Loss</th>
              <th data-field="totalGlPercent" class="number">Total %Gain/Loss</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number">$<%=statsObj.beginningBal%></td>
              <td class="number">$<%=statsObj.endingBal%></td>
              <td class="number maxDrawDown">$<%=statsObj.maxDrawDown%></td>
              <td class="number maxPortfolioGain">$<%=statsObj.maxPortfolioGain%></td>
              <td class="number totalGl">$<%=statsObj.totalGl%></td>
              <td class="number totalGlPercent"><%=statsObj.totalGlPercent%>%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container stock-table" >
        <h4>Trade Statistics</h4>
        <table class="centered">
          <thead>
            <tr>
              <th data-field="numTrades" class="number">Total Trades</th>
              <th data-field="numWinningTrades" class="number">Winning Trades</th>
              <th data-field="numLosingTrades" class="number">Losing Trades</th>
              <th data-field="numEvenTrades" class="number">Even Trades</th>
              <th data-field="percentWinningTrades" class="number">Total %Winners</th>
              <th data-field="percentLosingTrades" class="number">Total %Losers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number"><%=statsObj.numTrades%></td>
              <td class="number"><%=statsObj.numWinningTrades%></td>
              <td class="number"><%=statsObj.numLosingTrades%></td>
              <td class="number"><%=statsObj.numEvenTrades%></td>
              <td class="number"><%=statsObj.percentWinningTrades%>%</td>
              <td class="number"><%=statsObj.percentLosingTrades%>%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container stock-table" >
        <h4>Trade Gains and Losses</h4>
        <table class="centered">
          <thead>
            <tr>
              <th data-field="maxWinningDollar" class="number">Max $Winner</th>
              <th data-field="maxLosersDollar" class="number">Max $Loser</th>
              <th data-field="maxWinnersPercent" class="number">Max %Winner</th>
              <th data-field="maxLosersPercent" class="number">Max %Loser</th>
              <th data-field="aveWinnersPercent" class="number">Ave %Winner</th>
              <th data-field="aveLosersPercent" class="number">Ave %Loser</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number">$<%=statsObj.maxWinningDollar%></td>
              <td class="number">$<%=statsObj.maxLosersDollar%></td>
              <td class="number"><%=statsObj.maxWinnersPercent%>%</td>
              <td class="number"><%=statsObj.maxLosersPercent%>
              %</td>
              <td class="number"><%=statsObj.aveWinnersPercent%>%</td>
              <td class="number"><%=statsObj.aveLosersPercent%>%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Summary Stats Table END -->

      <!-- Closed Position Table BEGIN -->
      <div class="container stock-table">
        <table>
          <h4>Individual Trade Performance</h4>
          <thead>
            <tr>
              <th data-field="buyDate">Buy Date</th>
              <th data-field="sellDate">Sell Date</th>
              <th data-field="ticker">Symbol</th>
              <th data-field="shares" class="number">Shares</th>
              <th data-field="buyAmount" class="number">Buy Amount</th>
              <th data-field="sellAmount" class="number">Sell Amount</th>
              <th data-field="glAmount" class="number">$Trade G/L</th>
              <th data-field="glInPercent" class="number">%Trade G/L</th>
              <th data-field="FolioAmount" class="number">$Account G/L</th>
              <th data-field="FolioAmountPercent" class="number">%Account G/L</th>
            </tr>
          </thead>

          <tbody>
            <% calcArr.forEach(function(trade){ %>
              <tr>
                <td class="class_buyDate"><%=trade.buyDate%></td>
                <td class="class_sellDate"><%=trade.sellDate%></td>
                <td class="class_ticker"><%=trade.ticker%></td>
                <td class="class_shares number"><%=trade.shares%></td>
                <td class="class_buyAmount number"><%=trade.buyAmount%></td>
                <td class="class_sellAmount number"><%=trade.sellAmount%></td>
                <td class="class_glAmount number"><%=trade.glAmount%></td>
                <td class="class_glInPercent number"><%=trade.glInPercent%></td>
                <td class="class_FolioAmount number"><%=trade.folioAmount%></td>
                <td class="class_FolioAmountPercent number"><%=trade.folioAmountPercent%></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Closed Position Table BEGIN -->

    </main>

    <%- include("../partials/footer") %>

    <script type="text/javascript" src="../js/closedall.js"></script>
    </body>
</html>
