<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: true}) %>

    <main>

      <!-- TradingView Widget BEGIN -->
      <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget({
        "width": 800,
        "height": 498,
        "symbol": "AAPL",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "White",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "hideideas": true,
        "studies": [
          "MAExp@tv-basicstudies",
          "Volume@tv-basicstudies"
        ]
      });
      </script>
      <!-- TradingView Widget END -->

      <div class="container stock-table" >
        <h3>Trading Performance</h3>
        <h3></h3>
        <h5>Original Account Balance:  $<%=origFolioAmount%></h5>
      </div>

      <!-- Open Position Table BEGIN -->
      <div class="container stock-table">
        <table>
          <thead>
            <tr>
              <th data-field="buyDate">Buy Date</th>
              <th data-field="sellDate">Sell Date</th>
              <th data-field="ticker">Symbol</th>
              <th data-field="shares">Shares</th>
              <th data-field="buyAmount">Buy Amount</th>
              <th data-field="sellAmount">Sell Amount</th>
              <th data-field="glAmount">$Trade G/L</th>
              <th data-field="glInPercent">%Trade G/L</th>
              <th data-field="FolioAmount">$Account G/L</th>
              <th data-field="FolioAmountPercent">%Account G/L</th>
            </tr>
          </thead>

          <tbody>
            <% calcArr.forEach(function(trade){ %>
              <tr>
                <td class="class_buyDate"><%=trade.buyDate%></td>
                <td class="class_sellDate"><%=trade.sellDate%></td>
                <td class="class_ticker"><%=trade.ticker%></td>
                <td class="class_shares"><%=trade.shares%></td>
                <td class="class_buyAmount"><%=trade.buyAmount%></td>
                <td class="class_sellAmount"><%=trade.sellAmount%></td>
                <td class="class_glAmount"><%=trade.glAmount%></td>
                <td class="class_glInPercent"><%=trade.glInPercent%></td>
                <td class="class_FolioAmount"><%=trade.FolioAmount%></td>
                <td class="class_FolioAmountPercent"><%=trade.FolioAmountPercent%></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Open Position Table BEGIN -->

    </main>

    <%- include("../partials/footer") %>

    <script type="text/javascript" src="../js/closedall.js"></script>
    </body>
</html>
