<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='../images/favicon.ico'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: true}) %>

    <main>

      <!-- TradingView Widget BEGIN -->
      <script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget({
        "width": 800,
        "height": 498,
        "symbol": "SPY",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "White",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "hideideas": true,
        "studies": [
          "MAExp@tv-basicstudies",
          "Volume@tv-basicstudies"
        ]
      });
      </script>
      <!-- TradingView Widget END -->

      <div class="container stock-table" >
        <h3>Trading Performance</h3>
        <h3></h3>
        <h5>Original Account Balance:  $<%=origFolioAmount%></h5>
      </div>

      <!-- Open Position Table BEGIN -->
      <div class="container stock-table">
        <table>
          <thead>
            <tr>
              <th data-field="buyDate">Buy Date</th>
              <th data-field="sellDate">Sell Date</th>
              <th data-field="ticker">Symbol</th>
              <th data-field="shares" class='number'>Shares</th>
              <th data-field="buyAmount" class='number'>Buy Amount</th>
              <th data-field="sellAmount" class='number'>Sell Amount</th>
              <th data-field="glAmount" class='number'>$Trade G/L</th>
              <th data-field="glInPercent" class='number'>%Trade G/L</th>
              <th data-field="FolioAmount" class='number'>$Account G/L</th>
              <th data-field="FolioAmountPercent" class='number'>%Account G/L</th>
            </tr>
          </thead>

          <tbody>
            <% calcArr.forEach(function(trade){ %>
              <tr>
                <td class="class_buyDate"><%=trade.buyDate%></td>
                <td class="class_sellDate"><%=trade.sellDate%></td>
                <td class="class_ticker"><%=trade.ticker%></td>
                <td class="class_shares number"><%=trade.shares%></td>
                <td class="class_buyAmount number"><%=trade.buyAmount%></td>
                <td class="class_sellAmount number"><%=trade.sellAmount%></td>
                <td class="class_glAmount number"><%=trade.glAmount%></td>
                <td class="class_glInPercent number"><%=trade.glInPercent%></td>
                <td class="class_FolioAmount number"><%=trade.folioAmount%></td>
                <td class="class_FolioAmountPercent number"><%=trade.folioAmountPercent%></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Open Position Table BEGIN -->

    </main>

    <%- include("../partials/footer") %>

    <script type="text/javascript" src="../js/closedall.js"></script>
    </body>
</html>
