<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/closedall.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>
    <div class="row">
      <nav class='nav-extended'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>TradeTrack</a>
          <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href=''>Log Out</a></li>
          </ul>
          <ul class='side-nav' id='mobile-demo'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href='#'>Log Out</a></li>
          </ul>

          <ul class='tabs tabs-transparent'>
            <li class='tab'><a href='/'>Home</a></li>
            <li class='tab'><a href='/transactions/new'>Trade</a></li>
            <li class='tab'><a href='/positions/open'>Open Positions</a></li>
            <li class='tab'><a href='/positions/closed'>Closed Positions</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <main>
      <!-- TC2000 Chart BEGIN -->
      <div class="TC2000-container">
        <div class="row">

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29641"></iframe>
          </div>

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29646"></iframe>
          </div>

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29737"></iframe>
          </div>

        </div>
      </div>
      <!-- TC2000 Chart END -->

      <!-- Open Position Table BEGIN -->
      <div class="container">
        <table>
          <thead>
            <tr>
              <th data-field="buyDate">Buy Date</th>
              <th data-field="sellDate">Sell Date</th>
              <th data-field="ticker">Symbol</th>
              <th data-field="shares">Shares</th>
              <th data-field="buyAmount">Buy Amount</th>
              <th data-field="sellAmount">Sell Amount</th>
              <th data-field="glAmount">$Trade G/L</th>
              <th data-field="glInPercent">%Trade G/L</th>
              <th data-field="FolioAmount">$Account G/L</th>
              <th data-field="FolioAmountPercent">%Account G/L/</th>
            </tr>
          </thead>

          <tbody>
            <% calcArr.forEach(function(trade){ %>
              <tr>
                <td class="class_buyDate"><%=trade.buyDate%></td>
                <td class="class_sellDate"><%=trade.sellDate%></td>
                <td class="class_ticker"><%=trade.ticker%></td>
                <td class="class_shares"><%=trade.shares%></td>
                <td class="class_buyAmount"><%=trade.buyAmount%></td>
                <td class="class_sellAmount"><%=trade.sellAmount%></td>
                <td class="class_glAmount"><%=trade.glAmount%></td>
                <td class="class_glInPercent"><%=trade.glInPercent%></td>
                <td class="class_FolioAmount"><%=trade.FolioAmount%></td>
                <td class="class_FolioAmountPercent"><%=trade.FolioAmountPercent%></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Open Position Table BEGIN -->

    </main>

    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
          <!-- <h5 class='white-text'>Footer Content</h5> -->
            <p class='grey-text text-lighten-4'>You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class='col l4 offset-l2 s12'>
          <!-- <h5 class='white-text'>Links</h5> -->
            <ul>
              <li><a class='grey-text text-lighten-3' href='/site/contact'>Contact</a></li>
              <li><a class='grey-text text-lighten-3' href='/site/about'>About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
      © 2016 RD Devs. All Rights Reserved
        <a class='grey-text text-lighten-4 right' href='#!'>More Links</a>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/closedall.js"></script>
    <script type="text/javascript" src="/js/showall.js"></script>
    </body>
</html>
