<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/showall.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>
    <div class="row">
      <div id="sitename" class="center col m4 s12">
        <h4>TRADETRACK</h4>
      </div>
      <div class="nav col m8 s12">
        <a href="/">Home</a>
        <a href="/transactions/new">Trade</a>
        <a href="/">List All</a>
        <a href="/site/contact">Contact</a>
        <a href="/site/about">About</a>
        <a href="/users/new">Sign Up</a>
        <a href="/token/login">Log In</a>
      </div>
    </div>

    <main>
      <!-- TC2000 Chart BEGIN -->
      <div class="TC2000-container">
        <div class="row">

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29641"></iframe>
          </div>

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29646"></iframe>
          </div>

          <div class="col s12 m4 l4">
            <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29737"></iframe>
          </div>

        </div>
      </div>
      <!-- TC2000 Chart END -->

      <!-- Open Position Table BEGIN -->
      <div class="container">
        <table>
          <thead>
            <tr>
              <th data-field="ticker">Symbol</th>
              <th data-field="name">Company</th>
              <th data-field="lastTradePriceOnly">Price</th>
              <th data-field="change">$Change</th>
              <th data-field="changeInPercent">%Change</th>
              <th data-field="totalChange">$G/L</th>
              <th data-field="totalChangeInPercent">%G/L</th>
              <th data-field="dividendYield">Div Yeild</th>
              <th data-field="peRatio">P/E Ratio</th>
            </tr>
          </thead>

          <tbody>
            <% openPositions.forEach(function(pos){ %>
              <tr>
                <td class="class_ticker"><%=pos.ticker%></td>
                <td class="class_name"><%=pos.name%></td>
                <td class="class_lastTradePriceOnly"><%=pos.lastTradePriceOnly%></td>
                <td class="class_change"><%=pos.change%></td>
                <td class="class_changeInPercent"><%=pos.changeInPercent%></td>
                <td class="class_glDollar"><%=pos.glDollar%></td>
                <td class="class_glInPercent"><%=pos.glInPercent%></td>
                <td class="class_dividendYield"><%=pos.dividendYield%></td>
                <td class="class_peRatio"><%=pos.peRatio%></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- Open Position Table BEGIN -->

  </main>

  <footer class="page-footer green">
    <div class="footer-copyright">
      <small>© 2016 RD Devs. All Rights Reserved</small>
    </div>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../js/showall.js"></script>
  <script type="text/javascript" src="/js/showall.js"></script>

  </body>
</html>
