<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Update Account</title>
</head>
<body>

    <%- include("../partials/nav", {home: true, trade: false, open: false, closed: false}) %>

  <main class="container">
    <div class="row">
      <div class="col s12 m12">
        <h4><%= firstName + " " + lastName%></h4>
        <h5>User Name: <%= userName%></h5>
        <h5>Email: <%= email%></h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12">
        <div class="row">
          <div class="col s12 m5">  <!-- left column -->
            <h4>Update User Information</h4>

            <form method="POST" action="/users?_method=PUT"
              oninput="password2.setCustomValidity(password2.value != password1.value ? "Passwords do not match." : "")">

              <div class="row">
                <div class="input-field col s12">
                  <label for="firstName">First Name: </label>
                  <input type="text" autofocus="true" name="firstName" id="firstName" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <label for="lastName">Last Name: </label>
                  <input type="text" name="lastName" id="lastName" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <label for="userName">User Name: </label>
                  <input type="text" name="userName" id="userName" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <label for="email">Email: </label>
                  <input type="email" name="email" id="email" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="input-field  col s12">
                  <label for="password1">Password: </label>
                  <input type="password" name="password1" id="password1" class="validate">
                </div>
              </div>

              <div class="row">
                <div class="input-field c col s12">
                  <label for="password2">Password Confirm: </label>
                  <input type="password" name="password2" id="password2" class="validate">
                </div>
              </div>

              <input type="hidden" name="_method" value="put">

              <div class="row center">
                <button class="submit btn waves-effect waves-light" type="submit" name="action">Update
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>

          <div class="col m2">  <!-- middle column -->
          </div>

          <div class="col s12 m5">  <!-- right column -->
            <h4 class="center">Delete Account</h4>
            <form method="POST" action="/users?_method=DELETE">
              <div class="row center">
                <input type="hidden" name="_method" value="delete">
              </div>

              <div class="row center">
                <button class="submit btn waves-effect waves-light" type="submit" name="action">Delete
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

    <%- include("../partials/footer") %>

</body>
</html>
